Dockerfile
.dockerignore
node_modules
**/node_modules
.pnpm-store
.vscode
README.md
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.next
**/.next
.clipse-media-cache
**/.clipse-media-cache
.clipse-whisper-cache
**/.clipse-whisper-cache
.clipse-ai-cache
**/.clipse-ai-cache
models
**/models
coverage
*.tsbuildinfo
.env
.env*.local
.git
